<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns = "http://www.w3.org/ns/widgets"
    xmlns:gap = "http://phonegap.com/ns/1.0"
    id        = "com.MediaArt.PUK102"
    version   = "1.0.0">
<icon src="images/icon.png" />
<name>PUK 102</name>
<description>
بەرنامەی ناساندنی کاندیدەکانی لیستی یەکێتی نیشتمانی کوردستان بۆ پەرلەمانی 2013
</description>
<author href="https://www.symbiansoftgroup.com" email="drakhshani.aram@gmail.com">
</author>
<access origin="*" />
</widget>
